html {
	height: 100%;
	width: 100%;
}

body {
	display: grid;
	height: 100%;
	overflow: hidden;
	padding: 0;
	margin: 0;
	color: white;
	font-family: 'Open Sans Condensed', sans-serif;
	grid-template-columns: 15% auto;
	grid-template-rows: 8% auto;
}

h1, h2, h3, h4, h5, p {
	margin: 0;
}

a {
	text-decoration: none;
	color: #2EA8FF;
}

.transition {
	-webkit-transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
	transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
	-moz-transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
	-ms-transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

#header1 {
	display: grid;
	background-color: #F47922;
	text-align: center;
	grid-column: 1;
	grid-row: 1;
	cursor: pointer;
}

#header1 h1 {
	margin: auto 0 auto 0;
	font-size: 4vh;
	font-weight: 300;
}

#header1:hover {
	background-color: #F88A3C;
}

#header2 {
	background-color: #524948;
	grid-column: 2;
	grid-row: 1;
}

#sidebar {
	background-color: #524948;
	grid-column: 1;
	grid-row: 2;
}

.navi {
	display: grid;
	height: 6vh;
	width: 100%;
	cursor: pointer;
	grid-template-columns: 1fr 3fr 7fr;
}

.navi:hover {
	background-color: rgba(255, 255, 255, 0.1) !important
}

.navi i {
	margin: auto 0 auto 0;
	font-size: 2.1vh;
	text-align: center;
	grid-column: 2;
}

.navi p {
	margin: auto 0 auto 0;
	font-size: 2vh;
	grid-column: 3;
}

#mainContainer {
	overflow-y: auto;
	padding: 2vh;
	background-color: #F8F3F0;
	font-family: 'Saira Condensed', sans-serif;
	grid-column: 2;
	grid-row: 2;
}

.dropdown {
	position: relative;
	display: grid;
	border-left: 5px solid #F88A3C;
	background-color: rgba(0, 0, 0, 0.05);
	grid-template-columns: 100%;
	grid-template-rows: auto 0%;
	cursor: pointer;
}

.dropdown:hover {
	background-color: rgba(0, 0, 0, 0.1)
}

.dropdown .button {
	display: grid;
	padding-left: 2%;
	margin: auto 0 auto 0;
	font-size: 2.7vh;
	grid-column: 1;
	grid-row: 1;
	grid-template-columns: 14fr 1fr;
	grid-template-rows: 100%;
}

.dropdown .button p {
	font-weight: 300;
	grid-column: 1;
	grid-row: 1;
}

.dropdown .button i {
	margin: auto 0 auto 0;
	grid-column: 2;
	grid-row: 1;
}

.dropdown .opCont {
	position: absolute;
	opacity: 0;
	display: none;
	width: 100%;
	border-radius: 2px;
	background-color: #FEFEFE;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	grid-column: 1;
	grid-row: 2;
	overflow-y: auto;
	max-height: 30vh;
}

.dropdown .opCont p {
	padding: 2% 0 2% 4%;
	font-size: 2.3vh;
}

.dropdown .opCont p:hover {
	background-color: rgba(0, 0, 0, 0.1);
}

#home, #dataValues1, #dataValues2, #files, #about {
	display: none;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: opacity 0.3s cubic-bezier(.25, .8, .25, 1);
	grid-gap: 2vh;
}

#home {
	display: block;
	opacity: 1;
}

.card {
	display: grid;
	border-radius: 2px;
	background-color: #FEFEFE;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	color: black;

	transition: all 0.3s cubic-bezier(.25,.8,.25,1);

	grid-template-columns: 35% auto 50%;
	grid-template-rows: 6vh auto;
}

.card:hover {
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.card > h2 {
	margin: auto 0 auto 2vh;
	font-size: 2.8vh;
	font-weight: 300;
	border-bottom: 1px solid #D5D5D5;
	grid-column: 1;
	grid-row: 1;
}

.card > h3 {
	margin: auto 10% auto 0;
	font-weight: 300;
	font-size: 1.8vh;
	grid-column: 3 / 5;
	grid-row: 1;
	margin: auto 2vh auto 0;
	text-align: right;
	font-weight: 300;
}

.card > div {
	grid-column: 1 / 4;
	grid-row: 2;
}

.card > p {
	margin: 2vh 0 2vh 4vh;
	font-size: 2.2vh;
	font-weight: 300;
	grid-column: 1 / 4;
	grid-row: 2;
}

.row {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 100%;
	grid-gap: 2vh;
}

#dataValues1 > div, #dataValues2 > div {
	margin-bottom: 2vh;
}

#dataValues1 .row, #dataValues2 .row {
	height: 20%;
}

#dataValues1 #dataTable, #dataValues2 .row {
	height: 42%;
}

#dataTable {
	grid-template-columns: 90fr 10fr;
}


#langSelect {
	grid-column: 1;
	grid-row: 1
}

#langSelect .dropdown {
	height: 50%;
	width: 85%;
	margin: auto 0 auto 5%;
}

#flipMode {
	grid-column: 4;
	grid-row: 1;
	cursor: pointer;
	text-align: right;
	display: grid;
	grid-template-columns: auto 40%;
	grid-template-rows: 1fr;
	background-color: rgba(0, 0, 0, 0);
}

#flipMode:hover {
	background-color: rgba(0, 0, 0, 0.05);
}

#flipMode p {
	font-size: 2vh;
	margin: auto 0 auto auto;
	vertical-align: middle;
	display: inline-block;
	grid-column: 1;
	grid-row: 1;
	pointer-events: none;
}

#flipMode .fa {
	margin: auto;
	font-size: 3vh;
	grid-column: 2;
	grid-row: 1;
	pointer-events: none;
}

#dataInfo {
	grid-column: 2;
	grid-row: 1;
}

#langInfoCont {
	display: grid;
	font-weight: 300;
	font-size: 2.5vh;
	margin: auto 0 auto 4vh;
}

#dataTableCont {
	display: grid;
	font-weight: 300;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 100%;
	grid-gap: 2vh;
	padding: 2vh;
}

#dataTableCont div {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(8, 1fr);
}

#dataTableCont div p {
	font-size: 2.2vh;
	padding: 0 5% 0 5%;
}

#dataTableCont input {
	border: 1px solid rgba(0, 0, 0, 0.3);
	font-size: 2vh;
	width: 60%;
	padding: 0;
	font-family: 'Saira Condensed', sans-serif;
	font-weight: 300;
}

#langGraph {
	display: block;
}

#langGraph canvas {
	grid-column: 1;
	grid-row: 1;
}

#editData {
	display: grid;
	grid-template-columns: 70% 30%;
	grid-template-rows: 100%;
	grid-column: 2;
	grid-row: 1;
	cursor: pointer;

	font-size: 2vh;
}

#editData p, #editData i {
	display: inline-block;
	margin: auto;
	grid-row: 1;
}

#editData:hover {
	background-color: rgba(0, 0, 0, 0.05);
}

#newLanguage, #editLanguage {
	position: absolute;
	width: 100%;
	height: 100%;
	display: none;
	opacity: 0;
	background-color: rgba(0,0,0,0.4);
}

#newLanguage > div, #editLanguage > div {
	position: absolute;
	width: 20%;
	height: 60%;
	margin: 5% 40% 0 40%;
	background-color: #F8F3F0;
	grid-template-columns: 1fr;
	grid-template-rows: 6vh 5% 70% auto;
}

#newLanguageName, #editLanguageName {
	grid-row: 2;
}

#newLanguageName p, #editLanguageName p {
	display: inline;
	margin-left: 5%;
	grid-row: 1;
}

#newLanguageName input, #editLanguageName input {
	margin: auto 0 auto 0;
	width: 50%;
	grid-row: 1;
}

#newLanguagePhonemes, #editLanguagePhonemes {
	grid-row: 3;
}

#newLanguagePhonemes p, #editLanguagePhonemes p {
	margin-left: 5%;
}

#newLanguagePhonemes textarea, #editLanguagePhonemes textarea {
	width: 90%;
	margin-left: 5%;
	height: 90%;
	resize: none;
	font-family: 'Saira Condensed', sans-serif;
	font-size: 1.5vh;
}

#newLanguageSubmit, #editLanguageSubmit {
	display: grid;
	grid-row: 4;
}

#newLanguageSubmit p, #editLanguageSubmit p {
	display: block;
	font-size: 3vh;
	margin: auto 10% auto;
	padding: 1%;
	text-align: center;
	cursor: pointer;
}