<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>SmearcarDB</title>
    <link rel="icon" href="/static/resources/favicon.ico?v=2">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Saira+Condensed:300,400" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='Chart.min.js') }}"></script>
    <script src="https://use.fontawesome.com/c8d5486cd8.js"></script>
    <!-- <script src="https://trello.com/1/client.js?key=dd3d6b561fe1a0abcacdc80ad0c4fd9a"></script> -->
</head>

<body>
    <div id="header1" class="transition">
        <h1>/'smi:ɹ̠ka:ɹ̠/</h1>
    </div>
    <div id="header2">
       <div id="signIn" class="transition">
            <p>Login</p>
            <i class="fa fa-sign-in"></i>
       </div> 
    </div>
    <div id="sidebar">
    </div>
    <div id="mainContainer">
        <div id="home" class="optionContainer">
        </div>
        <div id="dataValues1" class="optionContainer">
            <div class="row">
                <div id="langSelect" class="card">
                    <h2>Language</h2>
                    <div id="flipMode" class="transition">
                        <p>Phoneme</p>
                        <i class="fa fa-angle-double-right"></i>
                    </div>
                    <div option="langSelect" class="dropdown transition">
                    </div>
                </div>
                <div id="dataInfo" class="card">
                    <h2>Info</h2>
                    <div id="langInfoCont" class="transition">
                    </div>
                </div>
            </div>
            <div id="dataTable" class="card">
                <h2>Data</h2>
                <div id="editData" class="transition">
                    <p>Edit Language</p>
                    <i class="fa fa-edit"></i>
                </div>
                <div id="dataTableCont" class="transition">
                </div>
            </div>
            <div id="langGraph" class="card">
                <canvas class="transition"></canvas>
            </div>
        </div>
        <div id="dataValues2" class="optionContainer">
            <div class="row">
                <div id="langSelect" class="card">
                    <h2>Language</h2>
                    <div id="flipMode" class="transition">
                        <p>Phoneme</p>
                        <i class="fa fa-angle-double-right"></i>
                    </div>
                    <div option="langSelect" class="dropdown transition">
                    </div>
                </div>
                <div id="dataInfo" class="card">
                    <h2>Info</h2>
                    <div id="langInfoCont" class="transition">
                    </div>
                </div>
            </div>
            <div id="dataTable" class="card">
                <h2>Data</h2>
                <div id="dataTableCont" class="transition">
                </div>
            </div>
            <div id="langGraph" class="card">
                <canvas class="transition"></canvas>
            </div>
        </div>
        <div id="files" class="optionContainer">
            <div class="temp card">
                <h2>Currently in progress!</h2>
            </div>
        </div>
        <div id="about" class="optionContainer">
            <div class="temp card">
                <h2>Currently in progress!</h2>
            </div>
        </div>
    </div>
    <div id="newLanguage" class="transition">
        <div class="card transition">
            <h2>Add Language</h2>
            <div id="newLanguageName">
                <p>Name:</p>
                <input>
            </div>
            <div id="newLanguagePhonemes">
                <p>Phonemes:</p>
                <textarea></textarea>
            </div>
            <div id="newLanguageSubmit">
                <p class="card">Submit!</p>
            </div>
        </div>
    </div>
    <div id="editLanguage" class="transition">
        <div class="card transition">
            <h2>Edit Language</h2>
            <div id="editLanguageName">
                <p>Name:</p>
                <input>
            </div>
            <div id="editLanguagePhonemes">
                <p>Phonemes:</p>
                <textarea></textarea>
            </div>
            <div id="editLanguageSubmit">
                <p class="card">Submit!</p>
            </div>
        </div>
    </div>
    <div id="login" class="transition">
        <div class="card transition">
            <h2>Login</h2>
            <div id="loginUsername">
                <p>Username:</p>
                <input>
            </div>
            <div id="loginPassword">
                <p>Password:</p>
                <input type="password">
            </div>
            <div id="loginSubmit">
                <p class="card">Submit!</p>
            </div>
        </div>
    </div>
</body>
<script src="{{ url_for('static', filename='index.js') }}"></script>

</html>
