<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>SmearcarDB</title>
    <link rel="icon" href="/static/resources/favicon.ico?v=2">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Saira+Condensed:300,400" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='Chart.min.js') }}"></script>
    <script src="https://use.fontawesome.com/c8d5486cd8.js"></script>
    <!-- <script src="https://trello.com/1/client.js?key=dd3d6b561fe1a0abcacdc80ad0c4fd9a"></script> -->
</head>

<body>
    <div id="header1" class="transition" onclick="updateMain('home');">
        <h1>/'smi:ɹ̠ka:ɹ̠/</h1>
    </div>
    <div id="header2">
        <h2 id="headerTitle"></h2>
        <div id="addUpdateButton" class="transition">
            <p>Update</p>
            <i class="fa fa-edit"></i>
       </div>
       <div id="signIn" class="transition">
            <p>Login</p>
            <i class="fa fa-sign-in"></i>
       </div>
       <div id="addUserButton" class="transition">
            <p>Add User</p>
            <i class="fa fa-plus"></i>
       </div>
    </div>
    <div id="sidebar">
    </div>
    <div id="mainContainer">
        <div id="home" class="optionContainer">
        </div>
        <div id="dataValues1" class="optionContainer">
            <div class="row">
                <div id="langSelect" class="card">
                    <h2>Language</h2>
                    <div id="flipMode1" class="transition">
                        <p>Phoneme</p>
                        <i class="fa fa-angle-double-right"></i>
                    </div>
                    <div option="langSelect" class="dropdown transition">
                    </div>
                </div>
                <div id="dataInfo" class="card">
                    <h2>Info</h2>
                    <div id="langInfoCont" class="transition">
                    </div>
                </div>
            </div>
            <div id="dataTable" class="card">
                <h2>Data</h2>
                <div id="editData" class="transition">
                    <p>Edit Language</p>
                    <i class="fa fa-edit"></i>
                </div>
                <div id="dataTableCont" class="transition">
                </div>
            </div>
            <div id="langGraph" class="card">
                <canvas class="transition"></canvas>
            </div>
        </div>
        <div id="dataValues2" class="optionContainer">
            <div class="row">
                <div id="phonemeSelect" class="card">
                    <h2>Phoneme</h2>
                    <div id="flipMode2" class="transition">
                        <p>Language</p>
                        <i class="fa fa-angle-double-right"></i>
                    </div>
                    <div option="phonemeSelect" class="dropdown transition">
                    </div>
                </div>
                <div id="dataInfo2" class="card">
                    <h2>Info</h2>
                    <div id="phonemeInfoCont" class="transition">
                    </div>
                </div>
            </div>
            <div id="dataTable2" class="card">
                <h2>Data</h2>
                <div id="dataTableCont2" class="transition">
                </div>
            </div>
        </div>
        <div id="files" class="optionContainer">
            <div id="directory">
                <div id="directoryLocation" class="card transition">
                    <p>Database</p>
                </div>
                <div id="directoryHeader" class="card transition">
                    <p class="name transition">Name
                        <i class="fa fa-chevron-down transition"></i>
                        <i class="fa fa-chevron-up transition"></i>
                    </p>
                    <p class="date transition">Date Modified
                        <i class="fa fa-chevron-down transition"></i>
                        <i class="fa fa-chevron-up transition"></i>
                    </p>
                    <p class="size transition">Size
                        <i class="fa fa-chevron-down transition"></i>
                        <i class="fa fa-chevron-up transition"></i>
                    </p>
                </div>
                <div id="directoryCont"></div>
            </div>
        </div>
        <div id="about" class="optionContainer">
            <div class="card">
                <h2>About</h2>
                <p>Smearcar-db is an online database which compares languages and the relative frequencies of their component phonemes. This information can be referenced through the provided sources. This website is licensed under the GNU GPLv3 license and its source can be found at <a href="https://github.com/yamanq/smearcar-db.git" target="_blank">Github</a>.</p>
            </div>
        </div>
    </div>
</body>
<script src="{{ url_for('static', filename='index.js') }}"></script>

</html>
